<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <div class="logo">
          <img src="images/iconfinder_pizza_box-y_86557.png">
          <%= title %>
        </div>
        <div class="menu">
        <a href="#">Home</a> |
        <a href="#">Panel</a> |
        <a href="#">About</a>
        </div>
    </div>
    <div class="container">
    <div class="content">
      Hello Pizza delivary system!
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae sapien felis. Mauris pharetra quis nunc mattis tempor. Mauris in gravida ex, eget placerat odio. Ut lacus sem, sagittis quis urna ac, tincidunt aliquam massa. Etiam laoreet, lorem vel venenatis molestie, odio lorem rutrum tellus, in tincidunt risus purus ut nulla. Etiam commodo molestie ex ac sodales. Maecenas porttitor dictum quam, vel porttitor turpis viverra eget. Mauris auctor nisl et lacus fermentum tempus. Aliquam at dolor eros. Suspendisse a semper ligula. Nulla semper tortor in sollicitudin imperdiet.</p>
    </div>
    </div>
  </body>
</html>